In [1]:
import psycopg2
import pandas as pd
# Connection parameters, yours will be different
param_dic = {
    "host"      : "XXX",
    "database"  : "xxx",
    "user"      : "xxx",
    "password"  : "xxx",
    "port"      : "5432"
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

In [2]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [3]:
# Connect to the database
conn = connect(param_dic)
column_names = ['video_id', 'video_title', 'upload_date', 'view_count','like_count', 'comment_count', 'categories', 'year']
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from videos", column_names)
df.head()

Connecting to the PostgreSQL database...
Connection successful

,video_id,video_title,upload_date,view_count,like_count,comment_count,categories,year
0,AjRXlSwk-E0,iddaa.com | Salernitana - Torino (0-1) - Maç Ö...,2022-04-02,2034,71,7,Serie A,2022
1,F9xbW-yWtu8,iddaa.com | Brighton - Norwich (0-0) - Maç Öze...,2022-04-02,3021,97,8,Premier League,2022
2,leUGYEfLUBY,iddaa.com | Wolves - Aston Villa (2-1) - Maç Ö...,2022-04-02,24705,489,31,Premier League,2022
3,R2f6vHRvOJ0,Andrea Belotti İle Torino 1-0 Öne Geçti! #SerieA,2022-04-02,2497,60,5,Serie A,2022
4,SKZ8pxV-KGw,iddaa.com | Manchester United - Leicester City...,2022-04-02,186284,3546,279,Premier League,2022

In [4]:
df2 = pd.get_dummies(df['categories'])
df3 = pd.concat([df,df2],axis=1)
df4 = pd.get_dummies(df['year'])
df5 = pd.concat([df3,df4],axis=1)

In [5]:
df5.head()

,video_id,video_title,upload_date,view_count,like_count,comment_count,categories,year,Formula 1,International,NBA,Premier League,Serie A,WWE,other,2021,2022
0,AjRXlSwk-E0,iddaa.com | Salernitana - Torino (0-1) - Maç Ö...,2022-04-02,2034,71,7,Serie A,2022,0,0,0,0,1,0,0,0,1
1,F9xbW-yWtu8,iddaa.com | Brighton - Norwich (0-0) - Maç Öze...,2022-04-02,3021,97,8,Premier League,2022,0,0,0,1,0,0,0,0,1
2,leUGYEfLUBY,iddaa.com | Wolves - Aston Villa (2-1) - Maç Ö...,2022-04-02,24705,489,31,Premier League,2022,0,0,0,1,0,0,0,0,1
3,R2f6vHRvOJ0,Andrea Belotti İle Torino 1-0 Öne Geçti! #SerieA,2022-04-02,2497,60,5,Serie A,2022,0,0,0,0,1,0,0,0,1
4,SKZ8pxV-KGw,iddaa.com | Manchester United - Leicester City...,2022-04-02,186284,3546,279,Premier League,2022,0,0,0,1,0,0,0,0,1

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## CREATE X and y
X = df5.drop(['video_id','video_title','upload_date','categories','view_count','year'],axis=1)
y = df5['view_count']

# TRAIN TEST SPLIT
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

C:\Users\kadir\anaconda3\envs\youtubeproject\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\kadir\anaconda3\envs\youtubeproject\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\kadir\anaconda3\envs\youtubeproject\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

## Support Vector Regression

In [36]:
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV

svr = SVR()
param_grid = {'C':[0.001,0.01,0.1,0.5,1,2,3],
             'kernel':['linear','rbf','poly'],
              'gamma':['scale','auto'],
              'degree':[2,3,4,5,6,7],
              'epsilon':[0,0.01,0.1,0.5,1,2]}

grid = GridSearchCV(svr,param_grid=param_grid,cv=5,verbose=1,scoring='neg_mean_squared_error')
grid.fit(X_train,y_train)

Fitting 5 folds for each of 1512 candidates, totalling 7560 fits

GridSearchCV(cv=5, estimator=SVR(),
             param_grid={'C': [0.001, 0.01, 0.1, 0.5, 1, 2, 3],
                         'degree': [2, 3, 4, 5, 6, 7],
                         'epsilon': [0, 0.01, 0.1, 0.5, 1, 2],
                         'gamma': ['scale', 'auto'],
                         'kernel': ['linear', 'rbf', 'poly']},
             scoring='neg_mean_squared_error', verbose=1)

In [37]:
grid.best_params_

{'C': 1, 'degree': 6, 'epsilon': 0, 'gamma': 'auto', 'kernel': 'poly'}

In [38]:
grid_preds = grid.predict(X_test)

In [14]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
import numpy as np

In [39]:
mean_absolute_error(y_test,grid_preds)

96834.8941974266

In [40]:
np.sqrt(mean_squared_error(y_test,grid_preds))

266224.72266033903

## KNN Regression

In [22]:
from sklearn.neighbors import KNeighborsRegressor

In [23]:
knn = KNeighborsRegressor()

In [24]:
k_values = list(range(1,20))
param_grid = {'n_neighbors': k_values}

In [30]:
grid = GridSearchCV(knn,param_grid=param_grid,cv=5,verbose=1,scoring='neg_mean_squared_error')
grid.fit(X_train,y_train)

Fitting 5 folds for each of 19 candidates, totalling 95 fits

GridSearchCV(cv=5, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                         13, 14, 15, 16, 17, 18, 19]},
             scoring='neg_mean_squared_error', verbose=1)

In [32]:
grid_preds = grid.predict(X_test)

In [33]:
grid.best_params_

{'n_neighbors': 2}

In [34]:
mean_absolute_error(y_test,grid_preds)

33749.84451219512

In [35]:
np.sqrt(mean_squared_error(y_test,grid_preds))

108273.569291285

In [41]:
df.to_csv('finall.csv')

In [46]:
pd.read_csv('finall.csv',index_col=0)

,video_id,video_title,upload_date,view_count,like_count,comment_count,categories,year
0,AjRXlSwk-E0,iddaa.com | Salernitana - Torino (0-1) - Maç Ö...,2022-04-02,2034,71,7,Serie A,2022
1,F9xbW-yWtu8,iddaa.com | Brighton - Norwich (0-0) - Maç Öze...,2022-04-02,3021,97,8,Premier League,2022
2,leUGYEfLUBY,iddaa.com | Wolves - Aston Villa (2-1) - Maç Ö...,2022-04-02,24705,489,31,Premier League,2022
3,R2f6vHRvOJ0,Andrea Belotti İle Torino 1-0 Öne Geçti! #SerieA,2022-04-02,2497,60,5,Serie A,2022
4,SKZ8pxV-KGw,iddaa.com | Manchester United - Leicester City...,2022-04-02,186284,3546,279,Premier League,2022
...,...,...,...,...,...,...,...,...
540,_5a83HAcN3E,Merih Demiral Kanlar İçinde Kaldı ve Üstüne Sa...,2021-09-18,1412971,17328,971,Serie A,2021
541,kE_99E_GgzY,iddaa.com | Manchester United - Newcastle Unit...,2021-09-11,3480105,68015,4585,Premier League,2021
542,IWiiWKVWpjY,Olaylı Start | Formula 1 I 2021 Britanya GP,2021-07-18,590016,3673,614,Formula 1,2021
543,NMBV95LjgLY,Rey Mysterio ve Oğlu İntikam Peşinde! | WWE Sm...,2021-06-12,1072358,12163,1130,WWE,2021
544,BD5CC6yyZNM,Norveç 0-3 Türkiye | Maç Özeti | 2022 Dünya Ku...,2021-03-28,1524822,25384,2045,International,2021